html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #13151f;
  color: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}

.app {
  margin: 20px;
}

.main-video {
  width: 100vw;
  height: 50vh;
  overflow: hidden;
  position: relative;
  margin-bottom: 50px;
}
